
# Configuration file for FOAF server

# either a relative or absolute path
PythonOption storage.dir.rdf /home/dpb2/dev/dmail/tests/trunk/small
PythonOption storage.dir.sig ../tests/trunk/small

# the trust server to which we communicate all new files
PythonOption trustserver.hostname localhost
PythonOption trustserver.port 20010

# limit uploads to 100K
# unfortunately (AFAICT), if this is exceeded apache closes the connection and we cannot provide useful info to the user
LimitRequestBody 102400




########################################
#  Do not change any of these settings #
########################################

# don't try to use mod_negotiation at all, it can mess up URI handling
Options -MultiViews

# ALL requests handled by mod_python
SetHandler mod_python

# all mod_python requests go to server.py
PythonHandler server

PythonDebug On
PythonAutoReload On
# seperate interpreter for this app; otherwise mod_python shares a namespace for each apache virtual domain
PythonInterpPerDirective On
