
# Configuration file for FOAF server

# either a relative or absolute path
PythonOption storage.dir.rdf storage
PythonOption storage.dir.sig storage


# limit uploads to 100K
# unfortunately (AFAICT), if this is exceeded apache closes the connection and we cannot provide useful info to the user
LimitRequestBody 102400




########################################
#  Do not change any of these settings #
########################################

# ALL requests handled by mod_python
SetHandler mod_python

# all mod_python requests go to server.py
PythonHandler server

PythonDebug On
PythonAutoReload On
