# based on the (old) http://forrest.apache.org/dtd/.htaccess file

# Get the content straight out of ViewCVS and use the appropriate media type:
# See http://www.faqs.org/rfcs/rfc3023.html
# http://www.w3.org/TR/owl-ref/#MIMEType
#

RewriteEngine On 

RewriteRule "trust/(.*)$" "http://svn.berlios.de/svnroot/repos/konfidi/schema/tags/release-$1/trust.owl" [P]
# trailing [P] means to use internal proxy; [R] would do external redirect

